@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container{
	width: 75%;
	margin: auto;
}

.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1rem;
}

.logo{
	width: 70px;
}

.menu-container{
	display: flex;
}

.menu-container ul{
		list-style: none;
		display: flex;
}

.menu-container ul li{
	margin: 0 30px 0 0;
}

.menu-container ul li a{
	text-decoration: none;
	color: black;
}

.hero-section{
	min-height: 800px;
	background-image: url("../img/img1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	z-index: -10;
}

.back-drop{
	min-height: 800px;
	background-color: rgba(0, 0, 0, .5);
	display: flex;
	justify-content: center;
	align-items: center;
}

.back-drop .btn-cta{
	width: 8rem;
	min-height: 3rem;
	background-color: lime;
	border: none;
	border-radius: .8rem;
	margin-top: 15rem;
}

.back-drop .btn-cta:hover{
	cursor: pointer;
	background-color: limegreen;
}

.about-section{
	min-height: 400px;
	margin: 100px 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.about-img{
	height: 450px;
	border-radius: 2rem;
}

.about-text-container{
	margin: 100px;
	line-height: 2rem;
	text-align: justify;
}

.about-text-container h1{
	font-size: 3rem;
	margin-bottom: 30px;
}